* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 1000px;
}

.container .header {
    width: 100%;
    height: 100px;
}

.header .logo {
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: left;
}

.logo img {
    width: 100%;
    height: 100px;
}

.banner img {
    width: 100%;
    height: 100px;
}

.header .banner {
    width: calc(80% - 5px);
    height: 100%;
    border: 1px solid black;
    margin-left: 5px;
    float: left;
}

.nav-bar {
    border: 1px solid;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar .link {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    height: 40px;
    display: flex; 
    align-items: center;
    font-size: 16px;
    background: none; 
    margin: 0; 
    padding: 0; 
}

.menu button {
    font-size: 16px;
    padding: 10px 15px;
    background: none;
    border: none; 
    color: black;
    cursor: pointer; 
}

.menu button:not(:last-child)::after {
    content: "|";
    margin-left: 10px;  
    margin-right: 10px; 
    color: black; 
}

.menu button:hover {
    color: #0056b3;
}

input[type="text"] {
    height: 30px; 
    border-radius: 20px; 
    font-size: 18px;
    padding: 0 15px; 
    border: 1px solid;
}

.main {
    width: 100%;
    height: 500px;
    float: left;
    margin-top: 5px;
}

.side-bar {
    width: 15%; 
    height: 100%;
    padding: 10px;
    float: left;
}

.n1 {
    width: 100%;
    height: 40%; 
    margin-top: 1%;
    border: 1px solid ;
    float: left;
}

.n2 {
    width: 100%;
    height: 55%; 
    margin-top: 2%;
    border: 1px solid; 
    float: left;
}

.new button {
    margin-top: 10px;
    margin-left: 5px;
    background: none; 
    border: none; 
    color: black; 
    cursor: pointer; 
    
}

.new button:hover {
    color: #0056b3;
}
.new{
    margin-top: 5px;
}
.nid {
    height: 35%;
    width: 70%;
    margin-top: 11px;
    display: flex; 
    justify-content: center;
    align-items: center;
    float: left;
}

.box {
    width: 49%; 
    height: 100%; 
    border: 1px solid;
    margin: 5px;
    float: left;
    margin-right: 10px;
}

.box img{
    width: 100%;
    height: 100%;
    float: left;
}
.nid1 {
    height: calc(62% - 5px);
    width: 70%;
    margin-top: 5px;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    
}

.box1 {
    width: calc(33.33% - 5px); 
    height: 48%; 
    border: 1px solid;
    margin-bottom: 10px; 
    float: left;
    margin-right: 5px;
}
.right-main{
    width: 15%;
    height: 110%;
    float: left;
    margin-top: -179px;
}
.box2{
    border: 1px solid;
    height: 32%;
    width: 100%;
    margin-top: 2%;
    
}

.footer{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    margin-top: 560px;
    display: flex;
    align-items: center;
}
.right-footer{
    width: 34%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

